<h1> Edit Order </h1>

<%= form_for [user, order] do |f| %>

  <%= f.label :business_name %>
  <%= f.select :driver_name, User.where(role: "business").collect { |u| u.name }, {include_blank: true} %>

  <%= f.label :charity_name %>
  <%= f.select :driver_name, User.where(role: "charity").collect { |u| u.name }, {include_blank: true} %>

  <%= f.label :driver_name %>
  <%= f.select :driver_name, User.where(role: "driver").collect { |u| u.name }, {include_blank: true} %>

  <%= f.label :driver_admin_name %>
  <%= f.select :driver_admin_name, User.where(role: "driver admin").collect { |u| u.name }, {include_blank: true} %>

  <%= f.label :status %>
  <%= f.select :status, ['available', 'pending approval', 'seeking driver', 'awaiting pickup', 'in transit', 'complete'] %>

  <%= f.submit %>

<% end %>
