<h1>Edit your order</h2>
<%= form_for [user, order] do |f| %>

  <%= f.label :pickup_start %>
  <%= f.datetime_select :pickup_start, default: order.pickup_start %>

  <%= f.label :pickup_end %>
  <%= f.datetime_select :pickup_end, default: order.pickup_end %>

  <%= f.submit %>

<% end %>
