<h1>Claim this order</h1>
<%= form_for [user, order] do |f| %>

  <%= f.hidden_field :status, :value => "pending approval" %>
  <%= f.hidden_field :claim_time, :value => Time.current %>

  <%= f.label :dropoff_end %>
  <%= f.datetime_select :dropoff_end, default: order.pickup_end + 30.minutes %>

  <%= f.submit "claim" %>

<% end %>
