<h1>Claim this order for pickup</h1>
<%= form_for [user, order] do |f| %>

  <%= f.hidden_field :pickup_start, value: order.pickup_start %>
  <%= f.hidden_field :pickup_end, value: order.pickup_end %>
  <%= f.hidden_field :dropoff_end, value: order.dropoff_end %>
  <%= f.hidden_field :claim_time, value: order.claim_time %>
  <%= f.hidden_field :picked_up, value: order.picked_up %>
  <%= f.hidden_field :dropped_off, value: order.dropped_off %>
  <%= f.hidden_field :ready_claim, value: order.ready_claim %>
  <%= f.hidden_field :transit, value: order.transit %>
  <%= f.hidden_field :complete, value: order.complete %>
  <%= f.hidden_field :ready_pick, value: false %>
  <%= f.hidden_field :awaiting_pick, value: true %>

  <%= f.submit "claim" %>

<% end %>
