<h1>Claim this order for a driver</h1>
<%= form_for [user, order] do |f| %>

  <%= f.hidden_field :status, value: "awaiting pickup" %>

  <%= f.label :driver_name %>
  <%= f.select :driver_name, User.where(driver_admin_id: user.id).collect { |u| u.name } %>

  <%= f.submit "claim" %>

<% end %>
